*.exe
*.o
*.la
*.lai
*.lo
*~
.DS_Store
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltconfig
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
.deps/
.libs/
stamp-h1
make_crc_table
