*.exe
*.o
*~
.DS_Store
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltconfig
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
.deps/
stamp-h1
